<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sugang.wenlvhui">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 友盟的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 8.0权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.home.travelroute.WllxYlyjActivity"></activity>
        <activity android:name=".view.home.travelroute.WllxYxyActivity" />
        <activity android:name=".view.home.travelroute.WllxYllxActivity" />
        <activity android:name=".view.home.travelroute.WllxRqhbActivity" />
        <activity android:name=".view.home.travelroute.WllxNjhlActivity" />
        <activity android:name=".view.home.travelroute.WllxZmhyActivity" />
        <activity android:name=".view.home.localcuisine.FoodActivity" />
        <activity android:name=".view.home.localcuisine.RestaurantActivity" />
        <activity android:name=".view.home.intangiblecultural.ShouyiDetailActivity" />
        <activity android:name=".view.home.intangiblecultural.JaingRenDetalisActivity" />
        <activity android:name=".view.home.literarytraining.WypxDetalisActivity" />
        <activity android:name=".view.login.SetPasswordActivity" />
        <activity android:name=".view.login.ForgetPasswordActivity" />
        <activity android:name=".view.login.RegisterActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.login.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.culturaltravel.NewsDetailsActivity" />
        <activity android:name=".view.space.Space_MapActivity" />
        <activity android:name=".view.home.literarytraining.LiteraryTrainingDetailsActivity" />
        <activity android:name=".view.home.culturaltravel.SerchActivity" />
        <activity android:name=".view.home.culturaltravel.ZixundongtailistActivity" />
        <activity android:name=".view.home.culturaltravel.ZhengcejiedulistActivity" />
        <activity android:name=".view.home.culturaltravel.XiangmugonggaoListActivity" />
        <activity android:name=".view.home.prefebook.RecommendedBooksActivity" />
        <activity android:name=".view.home.culturaltravel.CulturalTravelPolicyActivity" />
        <activity android:name=".view.home.culturaltravelcustomization.CulturalTravelCustomizationActivity" />
        <activity android:name=".view.home.literarybrigadelist.LiteraryBrigadeListActivity" />
        <activity android:name=".view.home.travelroute.TravelRouteActivity" />
        <activity android:name=".view.home.localcuisine.LocalcuisineActivity" />
        <activity android:name=".view.home.intangiblecultural.IntangibleCulturalHeritageActivity" />
        <activity android:name=".view.home.literarytraining.LiteraryTrainingActivity" /> <!-- 书稿尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fb015f0397cd191b6fd1b423a5d1b325" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhenman.asus.zhenman.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <activity android:name=".view.MainActivity" />
    </application>

</manifest>